@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: white;
    color: rgb(17 24 39); 
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}
